/* HERO */

.hero-section {
    max-width: 640px;
    object-fit: fill;
    background-size: fill;
    align-items: center;
    align-content: center;
    padding: 0;
}

.carousel-gallery {
    padding: 1rem;
    display: grid;
   /* grid-template-columns: repeat(auto, auto); */
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    overflow-x: auto;
    scroll-behavior: smooth;

    scroll-snap-type: mandatory;
}

.carousel-item {
    scroll-snap-align: start;
    display: inline-block;
    width: 100%;
}

.carousel-image img {
    width: 640px;

}

/* PRODUKTER */
