.header {
    display: flex;
    background-color: var(--color-dark-sage);
    height: 3rem;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header h1 {
    color: var(--color-cream);
    margin-left: 1rem;
}